router.get('/edit-contact/:id', function(req, res) {
  const contacts = loadContacts();
  const contact = contacts.find(contact => contact.id === req.params.id);
  if (contact) {
    res.render('editContact', { contact });
  } else {
    res.status(404).send('Contact not found.');
  }
});
